
class/BigInt

class/Frac

class/Matrix

data-structure/2-BIT

data-structure/BIT

data-structure/persistence-tree-tag

data-structure/BiTree

data-structure/rope-bcj

data-structure/segment-tree

data-structure/tmp

dynamic-programming/bags/01

dynamic-programming/bags/big-01

dynamic-programming/LCS

dynamic-programming/monotone-queue

dynamic-programming/RMQ

graph-theory/bipartite-graph/hungary-bfs

graph-theory/bipartite-graph/hungary-dfs

graph-theory/bipartite-graph/KM

graph-theory/connect/2sat

graph-theory/HLD

graph-theory/LCA/doubly

graph-theory/LCA/ST

graph-theory/LCA/tarjan

graph-theory/MST/Kruskal

graph-theory/MST/Prim

graph-theory/MST/Prim+heap

graph-theory/network-flows/minCostMaxflow

graph-theory/short-path/Dijkstra

graph-theory/short-path/k-short

math/all-inverse

math/Berlekamp-Massey

math/Cmod

math/CRT

math/fft

math/gcd-lcm

math/inclusion–exclusion

math/inverse

math/Linear_Seq

math/matrix-quickpow

math/ntt

math/polynomial

math/prime-table

math/quick-prime-num

math/short-prime-num

math/sum-of-n^k

string/hash

string/KMP

string/min-represent

string/shift-and

string/subseq

other/Ofast

other/IO
